@import url('https://fonts.googleapis.com/css?family=Special+Elite');

div.backgrounds {
  background: -webkit-radial-gradient(center,circle cover,#DDDDDD 0,#e4ccad 100%);
  background-image: url("./../img/bottom_banner_bg.jpg");
  background-image: url("./../img/bottom_banner_bg2.jpg");
}

.reveal h3 {
  font-family: 'Special Elite';
} 

.reveal section img {
  border: 0;
  box-shadow: none;
}

